@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
    Layout = "/Views/Shared/LayoutPage.cshtml";
}


@foreach(var p in Model.Products)
{
    //writes content directly to the response stream
    Html.RenderPartial("ProductSummary",p);
}

<div class="Pager">
    @Html.PageLinks(
        Model.PagingInfo, 
        x => Url.Action("List", new { page = x, category = Model.CurrentCategory} )
    )      
</div>
